.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 900px;
  width: 100%;
}



@media screen and (max-width: 426px) {
  .overview {
    flex-direction: column;
    background-image: url('../assets/opsbeat/header.png');
   position: relative;
    
  }
    .overview::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* adjust darkness */
    
  }
  .section-between{
    margin-left: 20px !important;
  }

  .description {
    padding-left: 20px !important;
    padding-right: 10px !important;
    width: 100% !important;
    color: white !important;
    z-index: 1;
  }

  .section-3 {
    padding: 0px !important;
    gap:20px !important;
  }

  .section-4 {
    flex-direction: column !important;
  }

  .section-5 {
    padding: 0 !important;
  }

  .bannerImage {
    display: none;
  }
}


@media screen and (max-width: 769px) {
  .overview {
    height: 600px;
    
  }
}

.description {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: left;
  padding-left: 50px;
  padding-right: 70px;
}

.logo-opti {
  object-fit: contain;
  height: 40px;
  width: 245.11px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.section-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  /* space between columns */
  padding: 40px;
  justify-items: center;
  align-items: start;
}

.section-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 640px;
  width: 100%;
  margin-bottom: 35px;
}

.section-5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  /* space between columns */
  padding: 40px;
  justify-items: center;
  align-items: start;
}

.section-between {

  justify-content: start;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.section-between-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
  /* space between columns */
  padding: 40px;
  justify-items: center;
  align-items: start;
}